---
---

<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{ site.title }}</title>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.css" />

	<meta property="og:title" content="Saurabh Mathur" />
	<meta property="og:description" content="Developer, Student and AI-Enthusiast." />
	<meta property="og:url" content="https://saurabhmathur96.github.io/" />
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@mathursaurabh96" />
	<meta name="twitter:description" content="Developer, Student and AI-Enthusiast." />


</head>


<body>
	<div class="content">
		<div class="list">
			<article id="intro">
				<section>
					<h1>Saurabh Mathur</h1>
					<nav>
						<a href="mailto:saurabhmathur96@gmail.com">Email</a>&nbsp;&middot;
						<a href="./saurabh.pdf">CV</a>&nbsp;&middot;
						<a href="https://github.com/saurabhmathur96">GitHub</a>&nbsp;&middot;
						<a href="https://www.linkedin.com/in/saurabh-mathur-594589b2/">LinkedIn</a>&nbsp;&middot;
						<a href="https://scholar.google.com/citations?user=zl-6JPMAAAAJ&hl=en">Google Scholar</a>&nbsp;&middot;
						<a href="https://dblp.org/pid/00/3312-2.html">dblp</a>
					</nav>

					<p>
						I&rsquo;m a PhD student working with <a href="http://utdallas.edu/~sriraam.natarajan/">Prof. Sriraam Natarajan</a> and the <a href="http://starling.utdallas.edu/">Statistical Relational Learning Lab </a> at the <b>University of Texas at Dallas</b>.
						
					</p>
			
					
					<p>
						Jump to: [<a href="#teaching">Teaching</a>] [<a href="#work">Work Experience</a>] [<a href="#projects">Projects</a>] [<a href="#research">Research</a>]
					</p>

					
				</section>

				<aside class="image-frame">
					<span class="image-frame-height-adjuster"></span>
					<img src="images/saurabh.jpg" class="rounded-circle img-fluid"/>

				</aside>
			</article>

			{% include research.html %}
			{% include teaching.html %}


			{% include work.html %}


			{% include projects.html %}

			



		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/mailgo@0.9.14/dist/mailgo.min.js"></script>

</html>
