@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400i|Alegreya:400,400i"');

::-moz-selection {
    color: #fff;
    background: #c69c6d;
}
  
::selection {
    color: #fff;
    background: #c69c6d;
}

section {
    max-width: 800px;
}
.main-title {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 62px;
    text-align: center;

    
    
}



.sub-title {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-weight: normal;
    font-size: 23.94px;
    text-align: center;
    font-style: normal;
}


.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}


 
body {
    background-color: #fbfcfc;
    
}





html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color:#4c4e4d;
}


h2, h3, h4 {
    font-family: 'Alegreya';
    font-weight: normal;
    font-style: normal;
}



html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  line-height: 1.45;
  font-size: 1.125em;
}


p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  font-size: 3.157em;
  margin-bottom: .65em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}





a { -webkit-transition: color .4s; transition: color .4s; color: #5386e4; text-decoration: none; }

a:link, a:visited { color: #5386e4; }

a:hover { color: #ef3e36; }

a:active { -webkit-transition: color .3s; transition: color .3s; color: #ef3e36; }


.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



h4 {
    font-family: 'Lato';
    font-weight: 400;
    margin-top: 0;
}




 h3::after {
    display: block;
    content: '';
    height: 1px;
    width: 8px;
    background: #60626a;
    margin: 8px auto 10px auto;
}


*, *:before, *:after {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-feature-settings: "kern";
	font-kerning: normal;
}

img {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
}

.row {
    width: 100%;

    margin-bottom: 2.6em;
}


@media screen and (min-width: 768px) {
    
    html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
      line-height: 1.45;
      font-size: 1.063em;
    
    }
    p {margin-bottom: 1.3em;}
    
    h2, h3, h4 {
      margin: 1.414em 0 0.5em;
      font-weight: normal;
      line-height: 1.2;
    }
    
    h1 {
      font-size: 5.063em;
    }
    
    h2 {font-size: 3.375em;}
    
    h3 {font-size: 2.25em;}
    
    h4 {font-size: 1.5em;}
    
    small, .font_small {font-size: 0.667em;}

    .main-title {
        margin-top: .75em;
        font-size: 80px;
    }
    .sub-title {
        font-size: 23.75px;
    }
    h4 {
        margin-top: 0;
    }

}
