@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Playfair+Display:900,400);


html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
    -webkit-font-feature-settings: 'liga', 'dlig';
    -moz-font-feature-settings: 'liga=1, dlig=1';
    -moz-font-feature-settings: 'liga', 'dlig';
    -ms-font-feature-settings: 'liga', 'dlig';
    -o-font-feature-settings: 'liga', 'dlig';
    font-feature-settings: 'liga', 'dlig';
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}
.heading {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.subheading {
    font-family: 'Playfair Display', serif;
}




h3.heading {
    line-height: 1.4;
}

/** 
    * Quiet Cry
    * https://color.adobe.com/Quiet-Cry-color-theme-124171/
    */
.color-5 {
    color: #EEEFF7;
}
.color-4 {
    color: #92CDCF;
}
.color-3 {
    color: #445878;
}
.color-2 {
    color: #313538;
}
.color-1 {
    color: #1C1D21;
}

.background-color-5 {
    background-color: #EEEFF7;
}
.background-color-4 {
    background-color: #92CDCF;
}
.background-color-3 {
    background-color: #445878;
}
.background-color-2 {
    background-color: #313538;
}
.background-color-1 {
    background-color: #1C1D21;
}

/**
    * Diatonic Type Scale
    * http://ty-p.cc/
    */
.nonpareille { font-size: 8px; }
.minion { font-size: 9px; }
.petit { font-size: 11px; }
.bourgeois { font-size: 12px; }
.long-primer { font-size: 13px; }
.small-pica { font-size: 15px; }
.pica { font-size: 16px; }
.english { font-size: 19px; }
.columbian { font-size: 21px; }
.great-primer { font-size: 24px; }
.double-small-pica { font-size: 28px; }
.double-pica { font-size: 32px; }
.double-great-primer { font-size: 48px; }
.canon { font-size: 62px; }
.five-line-pica { font-size: 80px; }
.inch { font-size: 96px; }

@media screen and (min-width: 30em) {
.nonpareille-ns { font-size: 8px; }
.minion-ns { font-size: 9px; }
.petit-ns { font-size: 11px; }
.bourgeois-ns { font-size: 12px; }
.long-primer-ns { font-size: 13px; }
.small-pica-ns { font-size: 15px; }
.pica-ns { font-size: 16px; }
.english-ns { font-size: 19px; }
.columbian-ns { font-size: 21px; }
.great-primer-ns { font-size: 24px; }
.double-small-pica-ns { font-size: 28px; }
.double-pica-ns { font-size: 32px; }
.double-great-primer-ns { font-size: 48px; }
.canon-ns { font-size: 62px; }
.five-line-pica-ns { font-size: 80px; }
.inch-ns { font-size: 96px; }
}

a { -webkit-transition: color .4s; transition: color .4s; color: #265C83; }

a:link, a:visited { color: #265C83; }

a:hover { color: #7FDBFF; }

a:active { -webkit-transition: color .3s; transition: color .3s; color: #007BE6; }

.link { text-decoration: none; }

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-box {
    padding: 2em;
}


p {
    line-height: 1.6;
    width: 100%;
}
div {
    position: relative;
}

.center {
    height: 50%;
}
.text-center {
    text-align: center;
}
#repos .border-box {
    background-color: #FFFFFF;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    height: 250px;
    padding: .5em;
    margin: 1em;
}

@media screen and (min-width: 30em) {
    #repos .border-box {
        /*border: 1px solid #313538;*/
        background-color: #FFFFFF;
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
        -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
        box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;

        height: 250px;
        padding: 1em;
        margin: 2em;
    }

}

.border-box p {
    height: 80px;
}
.border-box h3 {
    width: 100%;
    border-bottom: 1px solid #EEEFF7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    
    
}