<article id="research">
    <section>
        <h2> Research </h2>
        <p>
            
            I am interested in problems that involve modeling large amounts of uncertain data. 
        </p>
        <p>
            Before joining UTD, I was a Master&rsquo;s student at <a class="strong" href="https://www.iu.edu/">Indiana
                University</a>. I worked with <a class="strong" href="https://www.cs.indiana.edu/~djcran/">Prof. David
                Crandall</a> on
            bayesian uncertainty quantification algorithms for deep neural networks. I completed my M.S. in May 2020.
        </p>
        <p>
            As an undergraduate student at <a class="strong" href="http://vit.ac.in/">Vellore Institute of
                Technology</a>,
            I worked with <a class="strong" href="https://scholar.google.com/citations?user=JM-KG70AAAAJ&hl=en">Prof.
                Daphne Lopez</a> on deep models for image caption generation and chatbots.
            <!--My
                        capstone project was on deep models for image caption generation. I&rsquo;ve interned at <a
                            class="strong" href="https://www.microsoft.com/en-in">Microsoft, Bangalore</a> and <a
                            class="strong" href="https://www.synopsys.com/">Synopsys, Mountain View</a>.-->
        </p>

        <p>For my publications, see my page on <a href="https://scholar.google.co.in/citations?user=zl-6JPMAAAAJ">Google
                            Scholar</a>.
        </p>

       
    </section>
</article>